html {
    scroll-behavior: smooth; /*Al transportarse entre partes de la página baje suavemente*/
}
* {
    padding: 0;
    margin: 0;/*elimina los espacios por defecto de la página*/
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); /*importar una fuente de internet*/
body{
    font-family: 'Inconsolata', monospace;
    background-image: url(images/704721.jpg);
    /*---------------------------------------*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*Hacer que el background esté centrado y se adapte al tamaño de la pagina*/
}

header {
    background-color: #ADD8E6;
}

.contenedor {
    color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contenedor img {
    width: 30px;
    height: 30px;
    /*reducir el tamaño de la imagen*/
}

header {
    text-align: center; /*texto del header centrado*/
}

header .contenedor {
    display: inline-block;
    /*El contenedor ocupa solo su tamaño en el bloque*/
}

header .contenedor a,
header .contenedor h1 {
    display: inline-block; /*El contenedor ocupa todo el bloque*/
    margin: 0 20px; /*Pequeño espaciado entre los elementos*/
}
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e1e1e1;
}
nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    /*Centra los elementos de un contenedor*/
}

nav li {
    display: inline-block; /*El contenedor ocupa solo su tamaño en el bloque*/
    margin: 0 10px; /*Espacio entre los elementos*/
}
nav a{
    text-decoration: none;
    color: inherit;
    /*Quita el subrayado y el color a la etiqueta <a>*/
}
main{
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
}

.titulo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*centrar un div*/
    color: white;
    background-color: #000;
}
.about {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;
    align-items: center;
    /*Centra un div dando un poco que espacio a cada lado del div*/
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5px;

}

.about img {
    margin-right: 20px;
    width: 25%;
    height: auto;
}

.text-container {
    text-align: left; /*Alinea el texto a la izquierda*/
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    /*Hace que los elementos estén uno a lado del otro con un poco de espacio entre ellos*/
}

.habilidades h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    /*centra los elementos en el div*/
}

.cpp, .java, .php, .frontend {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;/*centra los textos en el div*/
    margin-bottom: 20px;
}

.cpp img, .java img, .php img, .frontend img {
    width: 100px;
    height: 100px;
}

.contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Pone los elementos del form centrados y uno encima del otro*/
}
.contacto h1{
    text-align: center;
}
.contacto label {
    margin-top: 10px;
}
/*Estilos estéticos para cada parte del form especificando cada tipo*/
.contacto input[type="text"],
.contacto textarea {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contacto button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.contacto button[type="submit"]:hover {
    background-color: #3E8E41;
}
/*-----------------------------------------*/
footer {
    text-align: center; /*Centra los elementos*/
    background-color: #ADD8E6;
}
/*Hace que los elementos estén en una sola linea*/
footer .contenedor {
    display: inline-block;
}

footer .contenedor a,
footer .contenedor p {
    display: inline-block;
    margin: 0 20px;
}
